* {
  margin: 0;
}

.body {
  display: grid;
  grid-template-columns: 296px 1fr;
  background-color: #f6f8fc;
  min-height: 100vh;
  height: 100%;
}

hr {
  border-top: 1px solid #f1f1f1;
}

.ql-editor {
  max-height: 400px;
  height: 400px;
  overflow-y: scroll;
}
.quill {
  margin-bottom: 16px
}