.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8fc;
}

.menuBrand {
  display: flex;
  padding: 20px 0 20px 20px;
  width: 280px;
}

.menuBrand > button {
  padding: 3px;
  background: none;
  border: none;
  cursor: pointer;
}

.menuBrand > button:hover {
  background: rgb(223, 190, 190);
}

.menuBrand > button > img {
  width: 20px;
}

.menuBrand > img {
  width: 110px;
  margin-left: 16px;
}

.list {
  display: flex;
}